.app-card-container {
  position: relative;
  width: 150px;  
  background-color: rgba(160, 59, 181, 1);
  margin: 20px 0px 0px 20px;
  box-shadow: 9px 9px 5px 0px #000000;
  text-align: center;
  float: left;
}

.app-card-ico{
  font-size: 60px;
  padding-top: 10px;
  color: rgba(249, 235, 210, 1);
}

.app-card-overlay {
  background-color: rgba(0, 0, 0, 0.3); /* Black see-through */
  color: rgba(249, 235, 210, 1);    
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  text-align: center;
  padding: 5px;
}


.app-card-container:hover{
  cursor:pointer;
  box-shadow: 10px 10px 6px 1px #000000;
  background-color: rgba(160, 59, 181, 0.8);
}

.ms-FocusZone{
  clear: both;
}


